.focc-map {
    width: 100%;
    height: 50rem;
    margin-bottom: 1.5rem;
}
.focc-fullscreen-map {
    width: 100%;
    height: 100%;
}
.extra-marker-content {
    svg {
        width: 50%;
        height: auto;
        path, circle {
            fill: #fff;
        }
    }
}
.marker-invasiveplant div {
    width:100%;
    height:100%;
    background: #229922;
    border: 1px solid #000;
    transform: rotate(45deg);
}