:where(body) {
    --background-color: #fff;
    --text-color: #222;
    --link-colour: #15570c;
    --hover-colour: #1c7e10;
    --control-bg-colour: #fff;
    --control-text-colour: #222;
    --control-border-colour: #15570c;
    --control-button-bg-colour: #15570c;
    --control-button-text-colour: #fff;
    --control-button-hover-colour: #1c7e10;
    --control-copybutton-bg-colour: #3835dc;
    --control-copybutton-text-colour: #fff;
    --control-copybutton-hover-colour: #3562dc;
    --control-deletebutton-bg-colour: #dc3545;
    --control-deletebutton-text-colour: #fff;
    --control-deletebutton-hover-colour: #c82333;
    --max-content-width: 60rem;
    --top-bar-bg-colour: #333;
    --top-bar-border: #1a1a1a;
    --top-bar-text-colour: #fff;
    --footer-bg-colour: #333;
    --footer-text-colour: #fff;
    --dialog-overlay: rgba(210,210,210,0.9);
    --dialog-content-bg-colour: #fff;
    --dialog-content-text-color: #222;
    --dialog-close-hover-bg: rgba(50, 50, 0, 0.15);
}
@media (prefers-color-scheme: dark) {
    :where(body) {
        --background-color: #222;
        --text-color: #fff;
        --link-colour: #a3ff91;
        --dialog-overlay: rgba(40,40,40,0.9);
        --dialog-content-bg-colour: #222;
        --dialog-content-text-color: #fff;
    }
}
:where(body.dark) {
    --background-color: #222;
    --text-color: #fff;
    --link-colour: #a3ff91;
    --dialog-overlay: rgba(40,40,40,0.9);
    --dialog-content-bg-colour: #222;
    --dialog-content-text-color: #fff;
}
